@import "../../gg/rootStyle.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}
/* menu ------------- */
.menu {
  background: var(--nav-color-gray);
}
.menu .container {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
}
.menu ul li {
  border-right: 1px solid var(--nav-color-text-gray);
  padding: 0rem 0.5rem;
}
.menu ul li a {
  color: var(--nav-color-text-gray);
  font-size: 0.7rem;
}
/* main menu --------- */

.main_menu .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_menu img {
  width: 310px;
  height: 62px;
}
.main_menu .search_div .search {
  color: var(--primary-color);
  font-size: 1rem;
  padding-left: 0.4rem;
  width: 450px;
  height: 2.5rem;
  border-radius: 7px;
  border-color: var(--primary-color);
  background: none;
}
.main_menu .search_div {
  position: relative;
}
.main_menu .search_div img {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 25px;
  height: 25px;
}
.main_menu .search:focus {
  outline: none;
}
.profile img {
  width: 30px;
  height: 30px;
}
.basket img {
  width: 35px;
  height: 35px;
}
.main_menu div a {
  margin-left: 1rem;
}
/* Category menu -------- */
.category_menu ul {
  display: flex;
  justify-content: center;
}
.category_menu ul li {
  margin: 1rem;
}
.category_menu ul li a {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
}
/*  showcase ------ */
.showcase img {
  position: relative;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  width: 100%;
  height: 45vh;
}
/* title */
.title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.title div {
  display: grid;
  justify-content: center;
}
.title h3 {
  font-size: 1.5rem;
  color: 4A221A
}
/* section */

.shine img {
  width: 100%;
  height: 400px;
}
/* section 2 */

.onts {
  display: flex;
  justify-content: center;
}
.onts img {
  width: 300px;
  height: 300px;
  margin: 0 2rem;
  border-radius: 10px;
}
.footer {
  margin-top: 2rem;
  width: 100%;
  height: 300px;
  background-color: #353558;
}


/*.main-content{
  margin: auto;
  width: 60%;

} */

/*Main content---------------------------------*/

.mainContent {
  padding-bottom: 3rem;
  background-color: #f2f2f2;
}

/* INTRO --------------------------*/
.mainContent .container {
  max-width: 1720px;
}

.mainContent .intro {
  max-width: 970px;
  margin: 1rem auto 3.125rem auto; 
  text-align: center
} 

.mainContent .intro h1 {
  padding-bottom: 1.875rem;
  font-size: 30px;
  color: #961CC0;
  font-family: 'Open-Sans';
}

.mainContent .intro p {
  line-height: 1.25em;
  font-size: 18px;
  color: #585858;
}

.mainContent #textBanner h1 {
  padding-bottom: 0;
  font-size: 1.625em;
  line-height: 1.385em;
}


/* img text --------------------------*/

.img-text {
  background-color: #fff;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.mainContent .img-text {
  background-color: #f8fafa;
}

.img-text .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; 
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5em;
}

.img-text .container.alt {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.img-text .col {
  width: 50%;
}

.img-text figure.col {
  text-align: right;
}

.img-text .alt figure.col {
  text-align: left;
}

.img-text figure.col img {
  display: inline-block;
  margin-bottom: 1.875rem;
}

.img-text div.col {
  padding-left: 4.5%;
  padding-right: 18.65%; 
}

.img-text .alt div.col {
  text-align: right;
  padding-right: 4.5%;
  padding-left: 18.65%; 
}

.img-text h2 {
  padding-bottom: 1.125rem;
  font-size: 1.625em;
  font-family: 'Open-Sans';
  color: #961CC0;
}

.img-text p {
  padding-bottom: 1.5rem;
  line-height: 1.25em;
  font-size: 18px;
  color: #585858;
}



#topBanner h1 {
    padding-bottom: 0;
}

.mainContent {
    padding-bottom: 0;
}


